{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>

<meta charset="UTF-8">

 <link rel="stylesheet" href="{% static 'css/blog.css' %}">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
 
 <title>Testando....</title>
 
   <div class = "titulo">
     <h1><a>BRUNO HELD</a></h1>
   </div> 
    <div class ="novo_post">
     <a href="{% url 'blog.views.post_new' %}">Adciona Post</a>
    </div>
 
 </head>
<body>

 {% block content %}
 
 {% endblock %}  
 <div class = "voltar">
 <h1><a href="/"><button>Pagina inicial</button></a></h1>
 </div>
</body>
</html>